<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
    <session-factory name="session">
     
        <!-- CONFIGURAÇÕES DE CONEXÃO COM O BD -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property><!-- Defino o driver de conexão com o bd -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/semeru_jsf_maven_db?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <!-- HABILITA A EXIBIÇÃO DO SQL GERADO PELO HIBERNATE E FORMATA-O -->
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Numero minimo de conexoes com banco de dados -->
        <property name="c3p0.min_size">1</property>
        <!-- Numero máximo de conexoes com banco de dados -->
        <property name="c3p0.max_size">20</property>
        <!-- Time out da sessão milisegundos -->
        <property name="c3p0.timeout">300</property>
        <!-- Executa no máximo 80 sequencias por sessão -->
        <property name="c3p0.max_statements">80</property>
        <!-- Executa no máximo 80 sequencias por sessão -->
        <property name="c3p0.idle_test_period">300</property>
     
        <!-- lista de entidades -->
        <mapping class="br.com.semeru.semeru.entities.Cidade"/>        
        <mapping class="br.com.semeru.semeru.entities.Endereco"/>      
        <mapping class="br.com.semeru.semeru.entities.Estado"/>      
        <mapping class="br.com.semeru.semeru.entities.Pessoa"/>               
        <mapping class="br.com.semeru.semeru.entities.Sexo"/>
        <mapping class="br.com.semeru.semeru.entities.TipoEndereco"/>
        <mapping class="br.com.semeru.semeru.entities.TipoLogradouro"/>
        
        
               
    </session-factory>
    
</hibernate-configuration>
